extends layout

block musicplayer
    #dz-root(style='display:none')
    #musicPlayer.col-md-12
    .trackinfos
        p#trackname_prev
        hr
        p#trackname
        hr
        p#trackname_next
    .btn-group(role='group', aria-label='...')
        button.btn.btn-default(type='button' onclick='Musicplayer.prev()')
        span.glyphicon.glyphicon-step-backward(aria-hidden='true')
        button.btn.btn-default(type='button' onclick='Musicplayer.pause()')
        span.glyphicon.glyphicon-pause(aria-hidden='true')
        button.btn.btn-default(type='button' onclick='Musicplayer.play()')
        span.glyphicon.glyphicon-play(aria-hidden='true')
        button.btn.btn-default(type='button' onclick='Musicplayer.next()')
        span.glyphicon.glyphicon-step-forward(aria-hidden='true')