extends layout

block content
  h1 Players
  table.table.table-hover.table-striped.table-bordered#playersTable(style='width:100%', cellspacing='0')
    thead
      tr
        th Username
        th Connected
        th Score

input#username_hidden(type='hidden', value=admin.username)

    
block csss
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css')
  link(rel='stylesheet', href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')


block scripts
  script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js', crossorigin='anonymous')
  script(src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/admin.js') 