h1 Teams
div.form-inline
  input#create_team_name.form-control.mb-2.mr-sm-2.mb-sm-0(name='name', type='text', placeholder='Name', required)
  input#create_team_color.jscolor.form-control(name='color', type='text', placeholder='Color', required)
  button#create_team.btn.btn-primary(type='button') Create team
table.table.table-hover.table-striped.table-bordered#teamsTable(style='width:100%', cellspacing='0')
  thead
    tr
      th Name
      th Color
input#username_hidden(type='hidden', value=admin.username)

!{JSON.stringify(data)}

.list-group
  a.list-group-item.clearfix(onclick="alert('Action1 -> Details');")
    | Action1
    span.pull-right
      span.btn.btn-xs.btn-default(onclick="alert('Action1 -> Play'); event.stopPropagation();")
        span.glyphicon.glyphicon-play(aria-hidden='true')
  a.list-group-item.clearfix(onclick="alert('Action2 -> Details');")
    | Action2
    span.pull-right
      span.btn.btn-xs.btn-default(onclick="alert('Action2 -> Play'); event.stopPropagation();")
        span.glyphicon.glyphicon-play(aria-hidden='true')
