h1 Teams
div.form-inline
  input#create_team_name.form-control.mb-2.mr-sm-2.mb-sm-0(name='name', type='text', placeholder='Name', required)
  input#create_team_color.jscolor.form-control(name='color', type='text', placeholder='Color', required)
  button#create_team.btn.btn-primary(type='button') Create team
table.table.table-hover.table-striped.table-bordered#teamsTable(style='width:100%', cellspacing='0')
  thead
    tr
      th Name
      th Color
input#username_hidden(type='hidden', value=admin.username)

#teamPanel
  .panel.list-group
    for team, i in teams
      a.list-group-item(href='#', data-toggle='collapse', data-target='#list-' + i, data-parent='#teamPanel')
        span.badge.badge-default.pull-right #{team.players.length}
        span.glyphicon.glyphicon-stop(aria-hidden="true" style="margin-right:10px") 
          span.glyphicon.glyphicon-stop(aria-hidden="true" style="position:absolute; top:2px; left:2px;font-size: 10px; color:#" + team.color) 
        | #{team.name} 
      if team.players.length > 0
        for player in team.players
          .sublinks.collapse(id='list-' + i)
            a.list-group-item.small
              span.glyphicon.glyphicon-chevron-right
              |  #{player.username}
      else
        .sublinks.collapse(id='list-' + i)
          a.list-group-item.small
            span.glyphicon.glyphicon-chevron-right
            | No player
