extends layout

block content
  h1 Bienvenue #{player.username}
  input#playerid_hidden(type='hidden', value=player._id)
  button#click GO!
    
block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/player.js')