extends layout

block content
  h1 Bienvenu #{player.username}
  input#username_hidden(type='hidden', value=player.username)
  button GO!
    
block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/player.js')